
/*
 * ADD YOUR SECRETS BELOW
 * AND RENAME FILE TO secrets.h
 */

/* list of wifi networks to try */
const char *ssids[] = { "network1", "network2"};
const char *passwords[] = { "password1", "password2"};

/* mqtt data */
const char *mqtt_domain = ""; 
const char *mqtt_user = "";
const char *mqtt_password = "";
